.header-list li{
    display: block;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.burger-menu{
    position: relative;
    z-index: 2;
    top: 0;
    cursor: pointer;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    top: 0;
    right: 0;
    left: -100rem;
    bottom: 0;
    transition: 1s;
}
.nav.is-active{
    left: 0;
}

.hero{
    padding: 5rem;
}

.hero-p{
    margin-right: 0;
    font-size: 3rem;
    line-height: 3.8rem;
    margin-top: 3rem;
}
strong{
    font-size: 3.5rem;
}
.movies-api{
    margin: 3rem 0;
}